

    <h2 style="text-align: center;">Departamento de San Miguel</h2>
    <div class="container">
       
        <form class="w-100 shadow-lg p-3 mb-5 bg-white rounded p-5">
        <div class="row" id="info">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/img/imgSanMiguel.png" class="img-fluid" id="ss">
                    </div>
                    <div class="col-md-5">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="https://www.lanoticiasv.com/images/noticias/main_1525128679_will-portada-dos.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">José Wilfredo Salgado García</h5>
                                  <p class="card-text">Alcalde actual del municipio de San Miguel</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Bandera-nuevas-ideas-sv.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">PARTIDO</h5>
                                  <p class="card-text">Nuevas Ideas</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">MUNICIPIOS</h5>
                                  <p class="card-text">20 municipios</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">EXTENCION</h5>
                                    <p class="card-text">2077 km²</p>
                                  </div>
                                </div>
                              </div>
                            <div class="col">
                              <div class="card">
                               
                                <div class="card-body">
                                  <h5 class="card-title">HABITANTES</h5>
                                  <p class="card-text">520 022  habitantes</p>
                                </div>
                                
                              </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                 
                                  <div class="card-body">
                                    <h5 class="card-title">ELEVACION</h5>
                                    <p class="card-text">129 m</p>
                                  </div>
                                  
                                </div>
                              </div>
                          </div>
                    </div>
                    
                    </div>
                </div>
           

        </div>
   
   

    </form>


    </div>
 



