
<div id="titulo"><p>Ministerio de Turismo</p></div>
<div class="encabezado">
<ul class="nav  justify-content-center">
  
  <li class="nav-item">
    <a class="nav-link" id="ini"aria-current="page" routerLink="inicio">INICIO</a>
  </li>
  <li class="nav-item dropdown" ngFor="let data of dapartamento">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ZONA CENTRAL</a>
    <ul class="dropdown-menu">

      <li><a class="dropdown-item" routerLink="sansalvador">San Salvador</a></li>
      <li><a class="dropdown-item" routerLink="paz">La Paz</a></li>
      <li><a class="dropdown-item" routerLink="libertad">La Libertad</a></li>
      <li><a class="dropdown-item" routerLink="chalate">Chalatenango</a></li>
      <li><a class="dropdown-item" routerLink="cusca">Cuscatlan</a></li>
      <li><a class="dropdown-item" routerLink="vicente">San Vicente</a></li>
      <li><a class="dropdown-item" routerLink="cabañas">Cabañas</a></li>
  
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ZONA OCCIDENTAL</a>
    <ul class="dropdown-menu">
      
      <li><a class="dropdown-item" routerLink="ahuachapan">Ahuachapán</a></li>
      <li><a class="dropdown-item" href="ana">Santa Ana</a></li>
      <li><a class="dropdown-item" href="sonsonate">Sonsonate</a></li>
      
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ZONA ORIENTAL</a>
    <ul class="dropdown-menu">
      
      <li><a class="dropdown-item" routerLink="usulutan">Usulután</a></li>
      <li><a class="dropdown-item" href="miguel">San Miguel</a></li>
      <li><a class="dropdown-item" href="morazan">Morazán</a></li>
      <li><a class="dropdown-item" href="union">La Union</a></li>
      

    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ini" routerLink="form">CONTACTENOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ini" routerLink="registro">CREAR CUENTA</a>
  </li>
  
</ul>

</div>
<router-outlet></router-outlet>
<footer id="footer" class="navbar navbar-fixed-bottom">
  <p>Univerdad Don Bosco</p>
</footer>

