
<div class="container">

  <h2 class="title">Registrarme</h2>

  <form name="registration">

    <label for="firstname">Nombre</label>

    <input type="text" name="firstname" id="firstname" placeholder="Nombre">

    <label for="lastname">Apellidos</label>

    <input type="text" name="lastname" id="lastname" placeholder="Apellido" class="primerletra">

    <label for="email">Email</label>

    <input type="email" name="email" id="email" placeholder="nombre@correo.com">

    <label for="password">Contraseña</label>

    <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">

      <button type="submit">Registrarme</button>

  </form>

</div>
